#neirong{
	width:1045px;
	height:100%;
}

#yanzheng{
	width:100%;
	height:100%;
}

#zuo{
	height:0px;
}

#you{
	background: #383f48;
	width:100%;
}


#you #top{
	width:100%;
	height:64px;
	background:#2f343c;
	text-align: center;
}

#you #top span{
	float: left;
    font-size: 24px;
    color: #2f53ca;
    padding-top: 12px;
    padding-left: 32px
}

#you #top ul{
	float: right;
    padding-top: 25px;
    height: 50px;
    font-size: 12px;
    padding-right: 36px;
}

#you #top ul li{
	float: left;
    width: 90px
}


#neirong{
	width:1045px;
	background:#272c33;
	margin:33px 30px;
}

#part1{
	height:90px;
	line-height:14px;
}

#part1 p{
	padding-top:25px;
}

.ti{
	font: 16px/32px "";
}

.xing{
	color:red;
}

#shang input{
	
	
	width: 924px;
    height: 37px;
    margin-left: 0px;
    background: #272c33;
    border: 0px;
	
	
	
	
	
	
	
}

#shang .anniu{
	text-align: center;
	width:64px;
	height:36px;
	background:#fff;
	float: left;
}



#shang p{
	margin-left: 20px;
	color:#fff;
}

#shang .liulan{
	width:100px;
	float:left;
	line-height: 37px;
}

.bgc{
	background:#666;
	width:70px;
	height:20px;
	color:red;
	border-radius: 10%;
}


#xia #checkzuo{
	position:relative;
	left:20px;
	width:200px;
	z-index: 1;
}

#xia #checkyou{
	position:relative;
	top:-220px;
	left:470px;
	width:300px;
	z-index: 1;
}



.tixing{
	
	font:14px/20px "";
	color: #ab810f;
	padding-left:20px;
	
}


#neirong #shang #part2 input{
	
	border-radius: 5px;
}


#neirong #shang #part2 .biankuang{
	border:2px solid #666;
    border-radius: 5px;
	margin-left: 20px;
	width: 925px;
    height: 37px;	
}


#neirong #shang #part2 .beizhu{
	color: #666;
	
	
}


#neirong #shang #part1 #lanse{
	color: blue;
	
}


#neirong #xia .xuanxiang{
	color: #666;
	font:16px/22px ""
	
	
}


#neirong #xia .biaoti{
	
	color: #fff;
	font: 18px/24px "";
}


#neirong #xia .xing{
	
	color: red;
	display: block;
}


#neirong #tijiao{
	background-color: #14daca;
	width:80px;
	height:40px;
	color: #fff;
	margin-right: 10px;
	border-radius: 5px;
}

#neirong #queren{
	
	width:80px;
	height:40px;
	background-color: #383F48;
	color: #fff;
	border-radius: 5px;
}
