html,body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin: 0;
    padding:0;
}
html,body{
    height: 100%;
}
body{
    /*font-family: "微软雅黑",Arial;*/
    background: #383f48;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration:none;
}
img{
    border:none;
    display: block;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}




.main-wrapper{
    width: 100%;
}

/*header*/

.header{
    width: 100%;
    background: #1e88e5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.nav{
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    min-height: 50px;
}
.nav_logo{
    display:inline-block;
    /*width: 240px;*/
    height: 100%;
    line-height: 60px;
    background: #272c33;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo b{
    line-height: 60px;
}

/*导航*/
.nav_collapse{
    flex: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav_collapse>ul{
   display: flex;
   padding: 0 10px;
}
.nav-item{
   padding: 0 10px;
}
.nav-item>a:hover{
    color: #eee;
}

.nav_collapse>ul>li>a{
   display: block;
   color:#fff;
   font-size:22px;
   line-height: 60px;
}
.nav-item_link img{
   width: 30px;
   border-radius: 100%;
   margin-top: 15px;
}

.nav-item.smallbtn{
    display: none;
}

/*导航栏的二级下拉菜单*/
.dropdown_mune{

    background: #323840;
    font-size: 16px;
    color: #dfe0e1;
    line-height: 18px;
    position: absolute;
    top:60px;
    display: none;
}
.dropdown_mune.show{
    display: block;
}

.dropdown_mune.message{
    left: 48px;
    width: 300px;
}
.dropdown_mune.youxiang{
    left: 82px;
    width: 300px;
}

/*第四个下拉列表*/
.dropdown_mune.mune{
    position: fixed;
    left: 0px;
    background-color: #323840;
    width: 100%;
    padding: 30px;
    /*display: block;*/
}

.dropdown_mune.mune ul{
    display: flex;
}
.mune_item{
    color: #747d8a;
    /*flex:1;*/
    width:25%;
    padding:0 15px;
    box-sizing: border-box;
}

.nav-item.active{
    background: rgba(255,255,255,0.6);
}
.mune_item h4{
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
}

.list_style{
    display: flex;
    flex-flow: column;
}
.list_style>li>a{
    color: #747d8a;
    padding: 10px 0px;
    display: block;
}
.list_style>li>a .icon{
    color: #1ec7f1;
}
.list_style>li>a:hover{
    color:#1e88e5 ;
}
.form_control{
    width: 89%;
    background-color: #272c33;
    color: #747d8a;
    border: 1px solid rgba(0,0,0,.15);
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 25px;
    outline:none;
    border-radius:5px;
}
.form_control.focus{
    border: 1px solid #5be0fc;
}
#exampleTextarea{
    resize: none;
    font-family: inherit;
}
.mune_item .btn{
    background: #1e88e5;
    color: #fff;
    outline:none;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1.35;
    border-radius: 5px;
    transition: all .5s;
}
.mune_item .btn:hover{
    box-shadow: 2px 2px 5px 2px rgba(66, 165, 245,0.24),0 1px 5px 0 rgba(66, 165, 245,0.24);
}
.card{
    background: #272c33;
}
.card_header{
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: #263238;
    cursor: pointer;
}
.card_header h5{
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
.collapse_body{
    padding: 1.25rem;
}
.card_collapse{
    display: none;
}
.card_collapse.show{
    display: block;
}
/*导航小轮播*/
.swiper-container {
    width: 100%;
    /*height: 100%;*/
}
.swiper-container img{
    width: 100%;
    /*height: 100%;*/
}


/*第二、三下拉框*/
.dropdown_mune_title{
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.dropdown_content{
    display: flex;
    padding: 9px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.dropdown_content_right{
    display: flex;
    flex-flow: column;
    margin-left: 5px;
    width: 75%;
    vertical-align: middle;
}
.dropdown_content_right h5{
    color: #dfe0e1;
}
.dropdown_mune_title{
    font-weight: 600;
    padding: 11px 20px 15px;
}
.btn_cicle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.dropdown_content_left.btn_one{
    background:#fc4b6c;
}
.dropdown_content_left.btn_two{
    background:#26c6da;
}
.dropdown_content_left.btn_three{
    background:#1e88e5;
}
.dropdown_content_left.btn_four{
    background:#7460ee;
}
.dropdown_content_right .mail_desc,.dropdown_content_right .time{
    color: #747d8a;
    font-size: 12px;
}
.mail_desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown_mune_foot{
    display: block;
    text-align: center;
    font-weight: 600;
    color: #dfe0e1;
    padding: 15px 0;
}

/*搜索框*/
.forms_search{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;

    height:56px;
    display: none;
    background: #323840;
}
.nav_search{
    width: 100%;
    height:61px;
    color: #747d8a;
    font-size: 17px;
    line-height: 60px;
    padding-left: 20px;
    background: #323840;
    outline: none;
    border:none;
}
.nav_search_close{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top:17px;
    color:#747d8a ;
    cursor: pointer;
}

/*国籍下拉框*/
.dropdown_mune.country{
    /*display: block;*/
    position: absolute;
    right:55px;
    padding:5px;
}
.nav-item.country img{
    width: 20px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
}
.dropdown_mune_item{
    display: flex;
    color: #747d8a;
    padding:7px 20px;
}
.dropdown_mune_item img {
    width: 20px;
    height: 15px;
    display: inline-block;
}

.dropdown_mune_item i{

}
.dropdown_mune_item span{
    margin-left: 5px;
}
.dropdown_mune_item:hover{
    background: #fff;
}

/*个人信息下拉框*/
.dropdown_mune.login{
    /*display: block;*/
    position: absolute;
    right: 14px;
    padding: 10 0px;
}
.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}

.personLogin{
    display: flex;
    padding:10px 15px;
}
.personLogin_img img{
    width: 70px;
    height: 70px;
    border-radius: 7px;
}
.personLogin_txt{
    padding-left: 10px;
    line-height: 20px;

}
.personLogin_txt h4{
      font-size: 15px;
  }
.personLogin_txt p{
    font-size: 12px;
    color: #757e8a;
}
.personLogin_txt .personDigital{
    font-size: 12px;
    color: #fff;
    display: block;
    background: #fc4b6c;
    border-radius: 20px;
    text-align: center;
    margin-top: 2px;
    padding: 5px;
    transition: 0.2s ease-in;
}
.personLogin_item{
    color: #747d8a;
    padding: 9px 15px;
    display: block;
}
.personLogin_item:hover{
    color: #1e88e5;
}
.personLogin_item .icon{
    font-size: 18px;
}
.personDigital:hover{
    box-shadow: 0 5px 10px 5px rgba(239, 83, 80, 0.24),0 1px 5px 0 rgba(239, 83, 80, 0.22);
}

/*troubleBox*/
.troubleBox{
    display: flex;
    padding-top: 60px;
}

/*aside侧边栏*/
.left_asideBar{
    width: 240px;
    height: 100%;
    background: #272c33;
    /*padding-top: 60px;*/
    /*overflow-y:scroll; */
    /*padding-left: 13px;*/
}
.asideScroll{
    width: auto;
    height: 100%;
    padding-bottom: 60px;
}
.asideScroll.asidehide{
    display: none;
}

.user_profile{
    /*padding-bottom: 20px;*/
}
.user_profile_img{
    width: 70px;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    border-radius: 100%;
    position: relative;
}
.user_profile_img img{
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 100%;
}
/*头像边的红点*/
.user_profile_img .redsign{
	width: 6px;
	height: 6px;
	background: #fc4b6c;
	border-radius: 50%;
	z-index: 99;
	position: absolute;
	top: 20px;
	right: 0px;
    animation:flash_signal 1.2s infinite;
}
@keyframes flash_signal{
	0%   { box-shadow:0 0 0 0px #272c33,0 0 0 2px #fc4b6c;}
	25%   { box-shadow:0 0 0 1px #272c33,0 0 0 3px #fc4b6c;}
	50%  { box-shadow:0 0 0 2px #272c33,0 0 0 4px #fc4b6c;}
	75%   { box-shadow:0 0 0 3px #272c33,0 0 0 5px #fc4b6c;}
	100% { box-shadow:0 0 0 4px #272c33,0 0 0 6px #fc4b6c;}
}
.user_profile_txt{
    text-align: center;
    line-height: 18px;
    padding: 5px 0;
}
.user_profile_txt h5{
    font-size: 16px;
    font-weight: 400;
    color: #dfe0e1;
    margin-bottom: 7px;
}
.user_profile_txt a{
    color: #99abb4;
    padding: 0 5px;
}
.aside_divider{
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 20px 0;
}
.aside_list{
    color: #607d8b;
}
.aside_list_header{
    font-size: 12px;
    padding: 14px 14px 14px 20px;
    color: #798699;
    font-weight: 600;
}
.aside_list ul li>a{
    color: #607d8b;
    color: #607d8b;
    padding: 13px 35px 13px 20px;
    display: block;
    font-size: 14px;
    /*white-space: nowrap;*/
    position: relative;
    line-height: 15px;
}
.aside_list ul li{
    position: relative;
}

.aside_list ul li>a>i{
    width: 27px;
    font-size: 19px;
    display: inline-block;
    vertical-align: middle;
    color: #99abb4;
}
.aside_list ul li>a b{
    position: absolute;
    right: 14px;
    top:32%;
    font-weight: 900;
}
.aside_list ul li>ul{
    padding-left: 28px;
}
.aside_list ul li>ul>li>a{
    /*padding: 7px 35px 7px 15px;*/
}
.label{
    padding: 2px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
    float: right;
}
.label.one{
    background: #1e88e5;
}
.label.two{
    background: #fc4b6c;
}
.label.three{
    background: #26c6da;
}

.aside_item:hover{
    color: #1e88e5;
}
.aside_item:hover .icon{
    color: #1e88e5;
}
.aside_item.active{
    background: rgba(0,0,0,.2);
}

.aside_collapse>li>a:hover{
    color: #1e88e5;
}



.aside_collapse{
    display: none;
}
.aside_collapse.show {
    position: absolute;
    left: 60px;
    text-align: left;
    top: 45px;
    background: #181c22;
    width: 200px;
    padding-left: 0;
}
/*中间内容containter*/
.page_containter{
    flex: 1;
    overflow-x: hidden;
}
.containter_title{
    background: #2f343c;
    margin-bottom:30px;
    padding: 15px 26px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.title_left h5{
    color: #1e88e5;
    line-height: 30px;
    font-size: 21px;
}
.title_right{
    font-size: 14px;
    color:#757e8a;
    line-height: 30px;
}
.title_right a{
    color: #1e88e5;
}
.title_right a:hover{
    color: #09699A;
}
.containter_content{
    width: 100%;
    padding: 0 30px 25px 30px;
    box-sizing: border-box;
}
.content_row{
    display: flex;
    justify-content: space-between;
}
.col_item{
    padding: 0 15px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.containter_content .card{
    border-radius: 4px;
    margin-bottom: 30px;
    background: #272c33;
    width: 100%;
}
.card_body{
    padding: 1.25rem;
    flex: 1 1 auto;
}
.col_item.xlg_2{
    flex-flow: column;
}
.col_item.xlg_2 .card{
    flex: 1;
}
.row_card_header{
    display: flex;
    justify-content: space-between;
}
.row_card_header h4{
    line-height: 22px;
    font-size: 18px;
    color: #fff;
}
.row_card_header select{
    border-color: rgba(120, 130, 140, 0.13);
    color: #747d8a;
    padding: .375rem 1.75rem .375rem .75rem;
    border-radius: .25rem;
    background: transparent;
    /*font-size: 16px;*/
    font-size: inherit;
    outline: none;
}

.card.select{
    width: 100%;
}
.table-responsive{
    color: #757e8a;
}
.table-responsive table{
    width: 100%;
    text-align: left;
}
.table-responsive thead th,.table-responsive td{
    font-weight:normal;
    padding: .75rem;
    /*border-bottom: 1px solid #eee;*/
}
.languageCol{
    display: flex;
}

.table-responsive tr td img{
    width: 20px;
    height: 15px;
    margin-right: 5px;
}
.table-responsive tr{
    /*border-bottom:1px solid #757e8a;*/
    border-left: 4px solid #ffffff;
}
.process{
    background-color: #323840;
    height: 7px;
    position: relative;
    border-radius:5px;
}
.process_color{
    display: inline-block;
    position: absolute;

    height:7px;

    border-radius:5px;
}
.process_color.color1{
    background-color: #fc4b6c;
    width: 50%;
}
.process_color.color2{
    background-color: #26c6da;
    width: 60%;
}
.process_color.color3{
    background-color: #1e88e5;
    width: 50%;
}
.process_color.color4{
    background-color: #ffb22b;
    width: 50%;
}
.process_color.color5{
    background-color: #2f3d4a;
    width: 80%;
}
.process_color.color6{
    background-color: #fc4b6c;
    width: 50%;
}



.col_item.xlg_4{
    width: 50%;
    color: #757e8a;
}
.card_body h4{
    font-size: 18px;
    color: #fff;
}
.xlg_4 h4{
    margin-bottom: 17px;
}
.xlg_4_uls li{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.xlg_4_item_left{
    display: flex;
    align-items: center;
}
.xlg_4_item_left>img{
    margin-right: 15px;
}
.xlg_4_item_left>p{
    margin-right: 7px;
    cursor: pointer;
}
.xlg_4_item_left>p:hover{
    color: #1e88e5;
}
.xlg_4_uls li>span{
    display: inline-block;

    height: 20px;

    padding: 0 7px;
    line-height: 20px;
    /*height:20px;*/
    border-radius: 4px;
    font-size: 75%;
}
.xlg_4_uls li>.color_one{
    background-color: #cfecfe;
    color: #1e88e5;
}
.xlg_4_uls li>.color_two{
    background-color: #e8fdeb;
    color: #26c6da;
}
.xlg_4_uls li>.color_three{
    background-color: #f1effd;
    color: #7460ee;
}
.xlg_4_uls li>.color_four{
    background-color: #fff8ec;
    color: #ffb22b;
}
.xlg_4_uls li>.color_five{
    background-color: #f9e7eb;
    color: #fc4b6c;
}
.xlg_4_uls li>.color_six{
    background-color: #e0f2f4;
    color: #00897b;
}

.col_item.xlg_6{
    display: flex;
    flex-flow: column;
    width: 50%;
}

.card_txt{
    line-height: 22px;
    position: relative;
}
.card_txt h4{
    /*margin-bottom: .75rem;*/
    font-size: 18px;
    color: #fff;
}
.card_txt p{
    position: absolute;
    top: 40px;
    z-index: 999;
}
.card_txt p>i{
    color: #26c6da;
    font-size: 18px;
}
.card_txt p>span{
    color: #fff;
}
#container2_1,#container2_2,#container2_3,#container6_1,#container6_2{
    float: right;
}
.card_txt p>.icon-down-trangle{
    color: #ef5350;
}
.card_txt_top{
    display: flex;
    align-items: center;
    color: #fff;
}
.card_txt_top>i{
    font-size: 40px;
}
.card_title{
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}
.card_title h3{
    font-size: 21px;
    font-weight: normal;
    line-height: 33px;
}
.card_title h6{
    color: rgba(255, 255, 255, 0.65);
    font-weight: normal;
    font-size:14px;
}
.card_txt_bottom{
    color: #fff;
    position: absolute;
    top: 70px;
    z-index: 999;
}
.card.colorDiff{
    background: #1e88e5;
}
.card_txt_bottom>i{
    font-size: 20px;
}
.card_txt_bottom span{
    font-size: 24px;
}
.card.colorDiff2{
    background: #fc4b6c;
}

.icon.iconfont.icon-xinxinicon::before{
    display: inline-block;
    width: 50px;
}

/*footer*/
.containter_footer{
    color: #747d8a;
    padding: 17px 40px;
    border-top:1px solid rgba(120, 130, 140, 0.13);
}






/*响应式页面 媒体查询*/

/*@media (min-width: 768px){*/
    /*.asideScroll {*/
        /*padding-bottom: 0px;*/
        /*position: absolute;*/
    /*}*/
/*}*/


@media (max-width: 992px){    
    .content_row {
       flex-flow: column;
    }
    .col_item{
        width: 100%;
    }
    .col_item.xlg_4{
        width: 100%;
    }
    .col_item.xlg_6{
        width: 100%;
    }
}



@media (max-width: 1168px)and (min-width: 768px){
    /**/

    .aside_list ul li{
        position: relative;
    }
    .left_asideBar{
        width: 60px;
    }

    .user_profile {
        padding-bottom: 15px;
        width: 60px;
        margin-bottom: 7px;
    }

    .user_profile_img{
        padding: 15px 0 0 0;
        margin: 0px 0 0 6px;
        width: 50px;
     }
    .user_profile_img img{
        width: 80%;
    }
    .user_profile_txt,.aside_list_header,.aside_item>span{
        display: none;
    }

    .aside_item{
        padding: 9px 18px;
        width: 50px;
    }
    .aside_collapse {
        background: #181c22;
        position: absolute;
        left: 60px;
        top: 40px;
        width: 200px;
        z-index: 999999;
        display: none;
        padding-left: 1px;
    }
    .aside_list>ul>li:hover>.aside_item {
        width: 205px;
        background: #f2f6f8;
        z-index: 9999999;
    }
    .aside_list>ul>li:hover .aside_collapse{
        display: block;
        height: auto!important;
        overflow: auto;
        padding-left: 0;
     }
    .aside_list>ul>li:hover .aside_item>span {
            display: inline;
    }

    /*.page_containter{*/
        /*margin-left: 60px;*/
    /*}*/
    .containter_title{
        flex-flow: column;
    }
}
@media (max-width: 1168px){
    .nav_logo>span{
        display: none;
    }
    .nav_logo>b{
        padding: 10px;
    }
}
@media (max-width: 768px){
    .nav-item.search{
        display: none;
    }
    .left_asideBar{
        display: none;
        position: fixed;
        left: 0;
        top:60px;
        z-index: 99999999;
    }

    .nav-item.smallbtn {
        display: block;
    }
    .nav-item.aside_hide{
        display: none;
    }
    .dropdown_mune.mune ul{
        flex-flow: column;
    }
    .mune_item{
        width: 100%;
    }
}


@media (min-width:1168px){
    .nav_logo{
        width: 240px;
    }
}
@media (min-width: 992px) {
    .col_item.xlg_2 {
        flex: 0 0 25%;
        /*max-width: 25%;*/
    }
}




